body {
  background: url('bg.png');
  background-size: cover;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  text-align: center;
  display: block;
  color: "#ADD8E6";
}

#canvas {
  display: block;
  margin: 0 auto 0 250px;
  border: 1px solid black;
}
